---
pagination:
    data: pdfs
    size: 1
    alias: pdf
permalink: "pdf/{{ pdf.name }}/"
layout: main
---

<h2>{{ pdf.name }}</h2>

<div id="adobe-dc-view"></div>

<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
<script type="text/javascript">
let queryParams = new URLSearchParams(window.location.search);
let search = queryParams.get('term');

document.addEventListener("adobe_dc_view_sdk.ready", async () => {
	let adobeDCView = new AdobeDC.View({clientId: "{{ site.pdfkey }}", divId: "adobe-dc-view"});
	let pdfPromise = adobeDCView.previewFile(
	{
		content:   {location: {url: "{{site.url}}/{{ pdf.path }}"}},
		metaData: {fileName: "{{pdf.name}}pdf"}
	}, { enableSearchAPIs: true} );

	/*
	Support recognizing we came in via search
	*/
	if(!search) return;
	
	let adobeViewer = await pdfPromise;
	let apis = await adobeViewer.getAPIs();
	let searchResult = await apis.search(search);
});
</script>
