---
layout: main
pagination:
    data: cats
    size: 1
    alias: cat
permalink: "cats/{{ cat.name | slug }}/"
eleventyComputed:
    title: "{{cat.name }}"
---

<h2>{{ cat.name }}</h2>

<p>
<img src="{{ cat.picture }}" width="300" height="300">
</p>

<p>
{{ cat.name }} is {{ cat.gender }} and is {{ cat.age}} years old.
</p>

{% comment %}
page.url is just the last part, so we use a data variable for the host.
{% endcomment %}
{% assign url = site.host | append: page.url  | append: "?fromqr=1" %}
<p/>

<p>
Scan the code below to share the link with others:<br/>
<img src="{{ url | qrcode }}" alt="QR code for this URL.">
</p>

<p>
<a href="/">Home</a>
</p>
